---
layout: pageminimal
title: 游记相册
permalink: /album/index.html
description: "分享美好"
image:
  feature: AFC_Champion_Night.jpg   
---

<article class="post col-md-offset-2">
Jeason 生长于山水之城，就读于美食之都， Jeason说：“我的梦想就是要游遍千山万水，尝尽天下美食。”
</article>
<br />
{% assign categories_list = site.categories %}
{% for category in categories_list %}
  {% if category[0] == 'album' %}
    {% assign post_list = category[1] %}
    <figure class = "third">
    {% for post in post_list %}
        <a href = "{{ site.url }}/{{ post.url }}">
          <img src = "{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}" itemprop="image">
        </a>
        {% if post.description %}
          <figcaption>{{ post.description }}</figcaption>
        {%endif%}
        {% if forloop.index | modulo : 3 == 0 %}
          </figure><figure class = "third">
        {% endif %}
    {% endfor %}
    </figure>
  {% endif %}
{% endfor %}
